*{
	  font-family:微軟正黑體;
	  /*border: solid 1px ;	*/  
	} 

p{
	color: #6c83ab;
	font-size: 12px;
	font-weight: bold;
}	

a{
	font-size: 13px;
}


#can_be_withdrawn{
	font-size: 43px;
	color: #7beadb;
}

#RT_balance{
	font-size: 43px;
	color: #ff895a;
}

#SVCO{
	display: none;
	box-shadow: 0px 0px 25px rgba(32, 192, 216,0.8);
}	

#SVCO:hover{
	box-shadow: 0px 0px 5px rgba(32, 192, 216,0.5);
}

#WDBtn{
	box-shadow: 0px 0px 25px rgba(32, 192, 216,0.8);
}

#WDBtn:hover{
	box-shadow: 0px 0px 5px rgba(32, 192, 216,0.5);
}


#OVCO{
	display: none;
	box-shadow: 0px 0px 25px rgba(32, 192, 216,0.8);
}

#OVCO:hover{
	box-shadow: 0px 0px 5px rgba(32, 192, 216,0.5);
}



.main_body{
	display: flex;
	justify-content: center;
	align-items: center;	
	padding: 30px;	
	background-color: #f5f9ff;
}	

.coffer_card{
	display: flex;
	justify-content: center;
	align-items: center;	
	padding: 30px;
	flex-direction: column;
}

.modal_title{
	background-color: #138496;
}

.modal_cos{
	box-shadow: 0px 0px 25px rgba(210, 217, 255,0.8);
	border:0px;
	background-color: #f5f9ff;
}


.my_address{
	display: flex;
	justify-content: center;
	align-items: center;
	border:0.5px solid #bfcafc;
	border-radius: 30px;	
	padding: 8px;
	visibility: hidden;

}

.status{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #49b782;	
	margin: 8px;
}

.coffer_img{
	background-image: url(./img/new_decoffer_img.png);
	width: 180px;
	height: 180px;
	margin: 30px;
	background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.info_crad{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border:0.5px solid #bfcafc;
	border-radius: 12px;	
	padding: 58px 15px;
	box-shadow: 0px 0px 25px rgba(210, 217, 255,0.8);
	background-color: #ffffff;
	margin: 20px 8px
}




@media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #6957f2!important;
            }
        }

.view,body,html{
	height:100%
}

.navbar{
	background-color:rgba(105, 87, 242,0.9)
}

.page-footer,.top-nav-collapse{
	background-color:#6957f2
}

@media only screen and (max-width:768px){
	.navbar{background-color:#6957f2}
}